@import "../../css/Variables.scss";

.landing-page-container{
    //width: 100vw;/* 100%; */
    //width: 1920px;
    height: 100vh;
    position: relative;

    .landing-page-background{
        background-image: url(../../assets/img/testBg1.png);
        background-repeat: no-repeat;
        width: $landingPageMaxWidth;
        height: 100%;
        overflow: hidden;
        //overflow: scroll; //this was supposed to cause an issue with ... something ... i forget
        position: absolute;
        left: 0;
    }    

    .character{
        width: $landingPageMaxWidth;
        height: 100%;
        object-fit: cover;
        object-position: left;
        position: absolute;
        top: 0;
        left: 0;
    }
}



