.landing-page-container {
  width: 1920px;
  height: 100vh;
  position: relative;
}
.landing-page-container .landing-page-background {
  background-image: url(../../assets/img/testBg1.png);
  background-repeat: no-repeat;
  width: 1920px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.landing-page-container .character {
  width: 1920px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}