@import "../../css/Variables.scss";

.landing-page-container{
    //width: 100vw;/* 100%; */
    width: $landingPageMaxWidth;
    //height: 100vh;
    position: relative;

    overflow-y: hidden;

    .landing-page-background{
        background-image: url(../../assets/img/landing-page-bg-1.png);
        background-position: 0px -106px;
        background-repeat: no-repeat;
        width: $landingPageMaxWidth;
        height: 100%;
        position: absolute;
        left: 0; 
        overflow-x: hidden;
    }    

    .landing-page-foreground{ //should be mixin
        background-image: url(../../assets/img/landing-page-fg-1.png);
        background-position: 0px -106px;
        background-repeat: no-repeat;
        width: $landingPageMaxWidth;
        height: 100%;
        position: absolute;
        left: 0; 
        overflow-x: hidden;
    } 

    .character{
        // width: $landingPageMaxWidth;
        // height: 100%;
        width: 217px * 2;
        height: 504px * 2;
        position: absolute;
        //top: 100; this doesn't work for some reason
        left: 0;

        animation: walking-left 2.2s forwards cubic-bezier(0, 1, 1, 1),
            turning-forward 0.5s forwards ease-in-out,
            resting-arms 0.5s forwards ease-in-out,
        ;


    }
}

@keyframes walking-left{
    from{
        transform: translate($landingPageMaxWidth, /* 200px */150px)
    }
    to{
        transform: translate(calc(1920px - 960px - 434px/2), /* 200px */150px);
    }
}

@keyframes turning-forward {
    
}

@keyframes resting-arms{

}



