.landing-page-container{
    //width: 100vw;/* 100%; */
    height: 100vh;
    position: relative;

    .landing-page-background{
        background-image: url(../../assets/img/testBg1.png);
        background-repeat: no-repeat;
        //background-position: center; //important
        width: 1920px;/* 100%; */
        height: 100%;
        overflow: hidden;
        //overflow: scroll; //this was supposed to cause an issue with ... something ... i forget
        position: absolute;
        left: 0;
    }    

    .character{
        width: 1920px;//100%;
        height: 100%;
        object-fit: cover;
        object-position: /* right; */ /* center */left;
        position: absolute;
        //top: 0;
        //left: 0;
    }
}



