@import "../../css/Mixins.scss";
@import "../../css/Variables.scss";

.projects-container{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: bisque;
    
    .projects-title{
        @include pageTitle();
    }

    .showcase-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        @media(max-width: map-get($breakpoints, "tablet")){
            display: flex;
            flex-direction: column;
        }
    }
}