.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: bisque;
}
.projects-container .projects-title {
  padding-top: 40px;
  padding-bottom: 50px;
}
.theme-dark .projects-container .projects-title {
  color: #e2cece;
}
.theme-light .projects-container .projects-title {
  color: black;
}
.projects-container .showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 720px) {
  .projects-container .showcase-container {
    display: flex;
    flex-direction: column;
  }
}

.blur-projects .projects-title, .blur-projects .showcase-container {
  filter: blur(5px);
}