.showcase-item-container{
    width: 400px;
    height: 300px;

    .showcase-pic{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}