.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}
.theme-dark .about-container {
  background-color: #6b5e4f;
}
.theme-light .about-container {
  background-color: bisque;
}
.about-container .about-title {
  padding-top: 40px;
  padding-bottom: 50px;
}
.theme-dark .about-container .about-title {
  color: #e2cece;
}
.theme-light .about-container .about-title {
  color: black;
}
.about-container .about-all-content {
  display: flex;
  justify-content: center;
  gap: 10%;
}
@media (max-width: 720px) {
  .about-container .about-all-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.about-container .about-all-content .about-me-container {
  position: relative;
  width: 25%;
  min-width: 250px;
}
@media (max-width: 720px) {
  .about-container .about-all-content .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: unset;
  }
}
.about-container .about-all-content .about-me-container .about-me {
  position: absolute;
  top: 100px;
}
@media (max-width: 720px) {
  .about-container .about-all-content .about-me-container .about-me {
    position: unset;
  }
}
.about-container .about-all-content .about-me-container .about-me .about-avatar {
  width: 200px;
  height: 250px;
  background-image: url(../../assets/img/avatar1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 720px) {
  .about-container .about-all-content .about-me-container .about-me .about-avatar {
    width: 150px;
    height: 180px;
  }
}
.about-container .about-all-content .about-me-container .about-me .little-bit-about {
  width: 100%;
  height: 250px;
  font-size: large;
}
.theme-dark .about-container .about-all-content .about-me-container .about-me .little-bit-about {
  color: #e2cece;
}
.theme-light .about-container .about-all-content .about-me-container .about-me .little-bit-about {
  color: black;
}
@media (max-width: 720px) {
  .about-container .about-all-content .about-me-container .about-me .little-bit-about {
    font-size: medium;
  }
}
.about-container .about-all-content .skills-container {
  position: relative;
  width: 450px;
}
@media (max-width: 720px) {
  .about-container .about-all-content .skills-container {
    position: unset;
  }
}
.about-container .about-all-content .skills-container .skills {
  position: absolute;
  top: 200px;
}
@media (max-width: 720px) {
  .about-container .about-all-content .skills-container .skills {
    display: flex;
    justify-content: center;
    width: auto;
    position: unset;
  }
}