.nav-bar{
    width: 100%;
    background-color: aquamarine;
    color: red;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
    //left: 50%;
    //transform: translateX(-50%);
}

