$landingPageMaxWidthNumber: 1920; //it can be accessed inside js code
$landingPageMaxWidth: $landingPageMaxWidthNumber * 1px;

$pageMaxWidthNumber: 1920;
$pageMaxWidth: $pageMaxWidthNumber * 1px;


// :export{
//     landingPageMaxWidthNumericValue: $landingPageMaxWidthNumber
// }
