@import "../../css/Mixins.scss";

.gauge-container{
    position: relative;

    //top: -1000px;

    .gauge-max-range{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        height: 5px;
        background-color: grey;
        border-radius: 2px;
    }

    .gauge-value{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 5px;
        background-color: aqua;
        border-radius: 2px;   
        
        animation: fillLeftward 3s forward ease-in-out;
    }

    .gauge-nudge-container{
        position: absolute;
        width: 100%;        
        top: -2px;//-1 * calc(9px - 5px)/2;
        left: 0; 

        .actual-nudge{
            width: 9px;
            height: 9px;
            background-color: crimson;
            border-radius: 50%; 
        }
    }

    @include animateOneWayWithClass(".scale-horizontal-percent-10", scalePercent10, 10, 0.3s);
    @include animateOneWayWithClass(".scale-horizontal-percent-20", scalePercent20, 20, 0.6s);
    @include animateOneWayWithClass(".scale-horizontal-percent-30", scalePercent30, 30, 0.9s);
    @include animateOneWayWithClass(".scale-horizontal-percent-40", scalePercent40, 40, 1.2s);
    @include animateOneWayWithClass(".scale-horizontal-percent-50", scalePercent50, 50, 1.5s);
    @include animateOneWayWithClass(".scale-horizontal-percent-60", scalePercent60, 60, 1.8s);
    @include animateOneWayWithClass(".scale-horizontal-percent-70", scalePercent70, 70, 2.1s);
    @include animateOneWayWithClass(".scale-horizontal-percent-80", scalePercent80, 80, 2.4s);
    @include animateOneWayWithClass(".scale-horizontal-percent-90", scalePercent90, 90, 2.7s);
    @include animateOneWayWithClass(".scale-horizontal-percent-100", scalePercent100, 100, 3.0s);

    @include animateOneWayWithClass(".translate-horizontal-percent-10", translatePercent10, 10, 0.3s);
    @include animateOneWayWithClass(".translate-horizontal-percent-20", translatePercent20, 20, 0.6s);
    @include animateOneWayWithClass(".translate-horizontal-percent-30", translatePercent30, 30, 0.9s);
    @include animateOneWayWithClass(".translate-horizontal-percent-40", translatePercent40, 40, 1.2s);
    @include animateOneWayWithClass(".translate-horizontal-percent-50", translatePercent50, 50, 1.5s);
    @include animateOneWayWithClass(".translate-horizontal-percent-60", translatePercent60, 60, 1.8s);
    @include animateOneWayWithClass(".translate-horizontal-percent-70", translatePercent70, 70, 2.1s);
    @include animateOneWayWithClass(".translate-horizontal-percent-80", translatePercent80, 80, 2.4s);
    @include animateOneWayWithClass(".translate-horizontal-percent-90", translatePercent90, 90, 2.7s);
    @include animateOneWayWithClass(".translate-horizontal-percent-100", translatePercent100, 100, 3.0s);
}

@include keyFrameScaleX(scalePercent10, 0, 10%);
@include keyFrameScaleX(scalePercent20, 0, 20%);
@include keyFrameScaleX(scalePercent30, 0, 30%);
@include keyFrameScaleX(scalePercent40, 0, 40%);
@include keyFrameScaleX(scalePercent50, 0, 50%);
@include keyFrameScaleX(scalePercent60, 0, 60%);
@include keyFrameScaleX(scalePercent70, 0, 70%);
@include keyFrameScaleX(scalePercent80, 0, 80%);
@include keyFrameScaleX(scalePercent90, 0, 90%);
@include keyFrameScaleX(scalePercent100, 0, 100%);


@include keyFrameTranslateX(translatePercent10, 0, 10%);
@include keyFrameTranslateX(translatePercent20, 0, 20%);
@include keyFrameTranslateX(translatePercent30, 0, 30%);
@include keyFrameTranslateX(translatePercent40, 0, 40%);
@include keyFrameTranslateX(translatePercent50, 0, 50%);
@include keyFrameTranslateX(translatePercent60, 0, 60%);
@include keyFrameTranslateX(translatePercent70, 0, 70%);
@include keyFrameTranslateX(translatePercent80, 0, 80%);
@include keyFrameTranslateX(translatePercent90, 0, 90%);
@include keyFrameTranslateX(translatePercent100, 0, 100%);